		* {
			margin: 0;
			padding: 0;
		}

/*..........................................................width 320px.................................................*/

		@media screen and (max-width: 480px) and (min-width: 320px) {
		body {
			width: 100%;
			margin: auto;
			min-width: 320px;
			max-width: 480px;
		}

		
		.wrupper {
			width: 320px;
			margin: auto;
		}

		header {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url(../img/bg.jpg);
		}

		.logo {
			margin-left: 84px;
		}

		.home a{
			text-transform: uppercase;
			font-size: 12px;
			text-decoration: none;
			color: #ffffff;
			font-weight: bold;
		}

		.home {
			margin-left: 143px;
			margin-top: 32px;
		}

		.underline {
			width: 47px;
			border: 1px solid #edbfff;
			margin-left: 137px;
			margin-top: 8px;
		}

		.menu {
			display: none;
		}

		.iphone {
			display: none;
		}

		.image4, .image3 {
			display: none;
		}

		.new_categories {
			display: none;
		}

		.menu_footer {
			display: none;
		}

		.copyright {
			display: none;
		}

		.flash__box1 p {
			display: none;
		}

		.pigbull {
			display: none;
		}

		.flash {
			position: relative;
			overflow: hidden;
			margin-top: 134px;
		}

		.pointerLeft {
			float: left;
		}

		.flash__box1 {
			float: left;
			margin-left: 44px;
			margin-right: 32px;
		}

		.flash__box1 h1 {
			font-size: 20px;
			text-transform: capitalize;
			color: #fefefe;

		}

		.flash__box1 h2 {
			font-size: 14px;
			text-transform: uppercase;
			color: #edbfff;
			height: 12px;
			overflow: hidden;
			width: 200px;
		}

		.pointerRight {
			float: left;
		}

		.radio .radio_part {
		    display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio {
			margin-left: 123px;
			margin-top: 82px;
			padding-bottom: 68px;
		}

		section {
			position: relative;
			overflow: hidden;
			background-color: #4a3454;
			height: 599px;
		}

		.radio_one .radio_part {
			display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio_one .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio_one {
			margin-left: 107px;
			margin-top: 70px;
			padding-bottom: 56px;
		}

		.aboutCompany {
			float: left;
			list-style-type: none;
			margin-top: 72px;
		}

		.aboutCompany__item {
			float: left;
		}

		.aboutCompany__item p {
			margin-left: 85px;
			float: left;
			position: relative;
			overflow: hidden;
			line-height: 22px;
			height: 60px;
			width: 202px;
		}

		.aboutCompany__item h2 {
			margin-left: 85px;
			font-size: 17px;
			color: #ffffff;
			text-transform: uppercase;
		}

		.aboutCompany__item h2:before {
			background: url(../img/sprite.png)0 0 no-repeat;
			width:30px;
	    	height:30px;
	    	content: '';
	   	 	display: inline-block;
	   	 	position: absolute;
	   	 	margin-left: -54px;
		}

		.read_more1 {
			margin-top: 22px;
		}

		.read_more1 a{
			margin-left: 180px;
		}

		.aboutCompany__item a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
			margin-left: 115px;
		}

		.news {
			float: left;
    		width: 94%;
    		background-image: url(../img/man.jpg);
    		height: 290px;
    		margin-top: 68px;
    		margin-left: 20px;
		}

		.news_recentUpdates {
			position: relative;
			overflow: hidden;
			background-color: #f9f9f9;
			height: 743px;
		}

		.news_top {
			margin-left: 60px;
		    width: 198px;
		    margin-top: -74px;
		}

		.news_top h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			width: 150px;
			margin-top: 97px;
			width: 147px;
		}

		.news_top h2 span {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			color: #edbfff;
		}

		.news_top p {
			color: #454545;
			line-height: 25px;
			position: relative;
			overflow: hidden;
			height: 152px;
		}

		.recentUpdates {
			float: left;
			margin-top: 71px;
		}		

		.recentUpdates ul {
			list-style-type: none;
			margin-top: 9px;
			line-height: 18px;
			padding-left: 20px;
		}

		.recentUpdates li {
			padding-top: 16px;
		}

		.recentUpdates h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-left: 18px;
		} 

		.recentUpdates a {
			text-decoration: none;
			color: #454545;
			font-weight: bold;
			margin-left: 64px; 
		}

		.recentUpdates p {
			margin-left: 65px;

		}

		.li1:before {
			content: url(../img/li1.png);
			position: absolute;
			margin-top: -1px;
		}

		.li2:before {
			content: url(../img/li2.png);
			position: absolute;
			margin-top: -5px;
		}

		.li3:before {
			content: url(../img/li3.png);
			position: absolute;
			margin-top: -13px;
		}

		.read_more a{
			color: #454545;
			margin-left: 140px;
			text-transform: uppercase;
			font-size: 12px;
			position: absolute;
			margin-top: 14px;
			font-weight: bold;
		}

		.brands {
			background-color: #f9f9f9;
			padding-top: 48px;
			padding-bottom: 183px;
		}

		.brands img{
			margin-top: 48px;
			padding-left: 59px;
		}

		footer {
			position: relative;
			overflow: hidden;
			background-image: url(../img/footer1.png);
			height: 201px;
		}

		.maker {
			position: absolute;
			color: #ffffff;
			margin-top: 40px;
			margin-left: 92px;
		}

		.bold {
			font-weight: bold;
		}
		}

/*..........................................................width 480px.................................................*/

		@media (min-width: 480px) and (max-width: 768px) {
		body {
			width: 100%;
			margin: auto;
			min-width: 480px;
			max-width: 768px;
		}

		header {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url(../img/bg.jpg);
		}

		.wrupper {
			width: 480px;
			margin: auto;
		}

		.home {
			display: none;
		}

		.flash__box1 p {
			display: none;
		}

		.pigbull {
			display: none;
		}

		.copyright {
			display: none;
		}

		.menu {
			width: 243px;
			margin-left: 121px;
			background: rgba( 63, 50, 71, 0.80);
			margin-top: 17px;
			height: 258px;
			border-radius: 7px;
			position: absolute;
		}

		.menu li {
			float: none;
			margin-left: 0;
			text-align: center;
			padding: 10px;
			border-bottom: 2px solid #523e5a;
			list-style-type: none;
		}

		.menu a {
			text-transform: uppercase;
			text-decoration: none;
			color: #ffffff;
		}

		.menu li:hover {
			background: rgba( 43, 34, 49, 0.65);
			border-bottom: 2px solid #edbfff;
		}

		.logo {
			margin-left: 165px;
		}

		.flash1 {
			width: 100%;
			height: 396px;
			margin-top: 100px;
			background: rgba( 16, 15, 15, 0.15);
		}

		.flash {
			margin-top: -499px;
   		}

		.pointerLeft {
			float: left;
			padding-top: 195px;
		}

		.flash__box1 {
			float: left;
			margin-left: 17px;
			padding-top: 189px;
			
		}

		.flash__box1 h1 {
			font-size: 20px;
			text-transform: capitalize;
			color: #fefefe;

		}

		.flash__box1 h2 {
			font-size: 9px;
			text-transform: uppercase;
			color: #edbfff;
			height: 12px;
			overflow: hidden;
			width: 221px;
		}

		.iphone img{
			height: 303px;
			width: 186px;
			padding-top: 80px;
			padding-left: 4px;
		}

		.pointerRight img {
			float: right;
			margin-top: -192px;
		}

		.radio .radio_part {
		    display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio {
			margin-left: 199px;
			margin-top: -30px;
			padding-bottom: 57px;
		}

		section {
			position: relative;
			overflow: hidden;
			background-color: #4a3454;
			height: 599px;
		}

		.news_recentUpdates {
			position: relative;
			overflow: hidden;
			background-color: #f9f9f9;
			height: 743px;
		}

		.news {
			float: left;
    		width: 94%;
    		background-image: url(../img/man.jpg);
    		height: 290px;
    		margin-top: 71px;
    		margin-left: 26px;
		}

		.aboutCompany {
			float: left;
			list-style-type: none;
			margin-top: 72px;
		}

		.aboutCompany__item {
			float: left;
		}

		.aboutCompany__item p {
			margin-left: 85px;
			float: left;
			position: relative;
			overflow: hidden;
			line-height: 22px;
			height: 60px;
			width: 357px;
			color: #ffffff;
		}

		.aboutCompany__item h2 {
			margin-left: 85px;
			font-size: 17px;
			color: #ffffff;
			text-transform: uppercase;
		}

		.aboutCompany__item h2:before {
			background: url(../img/sprite.png)0 0 no-repeat;
			width:30px;
	    	height:30px;
	    	content: '';
	   	 	display: inline-block;
	   	 	position: absolute;
	   	 	margin-left: -54px;
		}

		.read_more1 {
			margin-top: 22px;
		}

		.read_more1 a{
			margin-left: 180px;
		}

		.aboutCompany__item a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
			margin-left: 275px;
		}

		.news_top {
			margin-left: 63px;
			margin-top: -66px;
    		width: 360px;
		}

		.news_top h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-top: 97px;
		}

		.news_top h2 span {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			color: #edbfff;
		}

		.man img {
			float: left;
			margin-top: -8px;
			position: absolute;
			margin-left: 21px;
		}

		.news_top p {
			color: #454545;
			line-height: 25px;
			position: relative;
			overflow: hidden;
			height: 152px;
			margin-top: 16px;
		}

		.radio_one .radio_part {
			display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio_one .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio_one {
			margin-left: 175px;
			margin-top: 70px;
			padding-bottom: 56px;
		}
		
		.recentUpdates {
			float: left;
			margin-top: 70px;
		}

		.recentUpdates ul {
			list-style-type: none;
			margin-top: -4px;
			line-height: 19px;
			padding-left: 90px;
		}

		.recentUpdates li {
			padding-top: 29px;
		}

		.recentUpdates h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-left: 89px;
		} 

		.recentUpdates a {
			text-decoration: none;
			color: #454545;
			font-weight: bold;
			margin-left: 64px; 
		}

		.recentUpdates p {
			margin-left: 68px;
			overflow: hidden;
		    width: 245px;
		    height: 22px;
		}

		.li1:before {
			content: url(../img/li1.png);
			position: absolute;
			margin-top: -1px;
		}

		.li2:before {
			content: url(../img/li2.png);
			position: absolute;
			margin-top: -5px;
		}

		.li3:before {
			content: url(../img/li3.png);
			position: absolute;
			margin-top: -13px;
		}

		.read_more a{
			color: #454545;
			margin-left: 243px;
			text-transform: uppercase;
			font-size: 12px;
			position: absolute;
			margin-top: 14px;
			font-weight: bold;
		}

		.brands {
			background-color: #f9f9f9;
			padding-top: 81px;
			padding-bottom: 55px;
		}
		
		.brands img {
			margin-left: 65px;
		}

		.new_categories {
			background-color: #ececec;
			width: 100%;
			height: 667px;
		}

		.new_categories h2 {
			text-transform: uppercase;
			font-size: 19px;
		}

		.box1 {
			padding-top: 77px;
		    padding-left: 21px;
		}

		.box2 {
			padding-top: 86px;
   			padding-left: 21px;
		}

		.box3 {
			padding-top: 86px;
   			padding-left: 21px;
		}

		footer {
			position: relative;
			overflow: hidden;
			background-image: url(../img/footer1.png);
			height: 200px;
		}

		.menu_footer {
			margin-left: -21px;
		}

		.menu_footer li {
			float: left;
			list-style-type: none;
			margin-top: 46px;
			padding-left: 14px;
		}

		.menu_footer a{
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			color: #ffffff;
		}

		span.maker {
		   	display: inline-block;
		    margin-top: 34px;
		    margin-left: 173px;
		    color: #ffffff;
		}

		.bold {
			font-weight: bold;
			padding-left: 4px;
		}
		}

/*...........................................................width768px.................................................*/

		
		@media (min-width: 768px) and (max-width: 960px) {
		body {
			width: 100%;
			margin: auto;
			min-width: 768px;
			max-width: 960px;
		}

		header {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url(../img/bg.jpg);
		}

		.wrupper {
			width: 768px;
			margin: auto;
		}

		.home {
			display: none;
		}


		.pigbull {
			display: none;
		}

		.copyright {
			display: none;
		}

		.menu {
			margin-top: 35px;		
		}

		.logo {
			margin-left: 20px;
		}

		.menu li {
			list-style-type: none;
   			display: inline-block;
   			padding-left: 20px;		
		}

		.menu a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-weight: bold;
			font-size: 16px;
		}

		.menu a:hover {
			text-decoration: underline;
		}

		.flash1 {
			width: 100%;
			height: 396px;
			margin-top: 78px;
			background: rgba( 16, 15, 15, 0.15);
		}

		.flash {
			margin-top: -499px;
   		}

		.pointerLeft {
			float: left;
			padding-top: 286px;
		}

		.flash__box1 {
			float: left;
			margin-left: 22px;
			padding-top: 207px;
			color: #ffffff;
		}

		.flash__box1 h1 {
			font-size: 30px;
			text-transform: capitalize;
			color: #fefefe;

		}

		.flash__box1 h2 {
			font-size: 15px;
			text-transform: uppercase;
			color: #edbfff;
			height: 20px;
			overflow: hidden;
			width: 293px;
			margin-top: 20px;
		}

		.flash__box1 p {
			width: 265px;
			height: 107px;
			overflow: hidden;
			margin-top: 11px;
   			line-height: 27px;
		}

		.iphone img{
			padding-top: 80px;
			padding-left: 110px;
		}

		.pointerRight img {
			float: right;
			margin-top: -232px;
		}

		.radio .radio_part, .radio1 {
		    display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio {
			margin-left: 540px;
			margin-top: 21px;
			padding-bottom: 94px;
		}

		section {
			position: relative;
			overflow: hidden;
			background-color: #4a3454;
			height: 341px;
		}

		.aboutCompany {
			float: left;
			list-style-type: none;
			margin-top: 77px;
		}

		.aboutCompany__item {
			float: left;
			width: 32%;
		}

		.aboutCompany__item p {
			margin-left: 85px;
			float: left;
			position: relative;
			overflow: hidden;
			height: 132px;
			line-height: 22px;
			color: #ffffff;
		}

		.aboutCompany__item h2 {
			margin-left: 85px;
			font-size: 13px;
			color: #ffffff;
			text-transform: uppercase;
		}

		.aboutCompany__item h2:before {
			background: url(../img/sprite.png)0 0 no-repeat;
			width:30px;
	    	height:30px;
	    	content: '';
	   	 	display: inline-block;
	   	 	position: absolute;
	   	 	margin-left: -54px;
		}

		.read_more1 {
			margin-top: 35px;
		}

		.read_more1 a{
			margin-left: 59px;
		}

		.aboutCompany__item a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
		}

		.news_top {
			margin-left: 62px;
			width: 280px;
		}

		.news_top h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-top: 24px;
			width: 150px;
		}

		.news_top h2 span {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			color: #edbfff;
		}

		.man img {
			display: none;
		}

		.news_top p {
			color: #454545;
			line-height: 25px;
			position: relative;
			overflow: hidden;
			height: 152px;
			width: 241px;
		}

		.radio1 {
			margin-top: 92px;
		}

		.radio_block {
			margin-top: 70px;
		}

		.radio1 li{
			list-style-type: none;
		}

		.recentUpdates {
			float: left;
    		width: 50%;
    		margin-top: 100px;
		}

		.recentUpdates ul {
			list-style-type: none;
			margin-top: -4px;
			line-height: 19px;
			padding-left: 67px;
		}

		.recentUpdates li {
			padding-top: 29px;
		}

		.recentUpdates h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-left: 67px;
			margin-top: 29px;
		} 

		.recentUpdates a {
			text-decoration: none;
			color: #454545;
			font-weight: bold;
			margin-left: 64px; 
		}

		.recentUpdates p {
			margin-left: 68px;
			overflow: hidden;
		    width: 245px;
		    height: 22px;
		}

		.li1:before {
			content: url(../img/li1.png);
			position: absolute;
			margin-top: -1px;
		}

		.li2:before {
			content: url(../img/li2.png);
			position: absolute;
			margin-top: -5px;
		}

		.li3:before {
			content: url(../img/li3.png);
			position: absolute;
			margin-top: -13px;
		}

		.read_more a{
			color: #454545;
			margin-left: 243px;
			text-transform: uppercase;
			font-size: 12px;
			position: absolute;
			margin-top: 14px;
			font-weight: bold;
		}

		.news_recentUpdates {
			position: relative;
			overflow: hidden;
			background-color: #f9f9f9;
			height: 450px;
		}

		.news {
			float: left;
    		width: 43%;
    		background-image: url(../img/man.jpg);
    		height: 290px;
    		margin-top: 101px;
    		margin-left: 18px;
		}

		.radio_one .radio_part {
			display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio_one .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio_one {
			margin-left: 127px;
			margin-top: 68px;
			padding-bottom: 56px;
		}

		.brands {
			background-color: #f9f9f9;
			padding-top: 58px;
			padding-bottom: 27px;
		}

		.brands img {
			margin-left: 40px;
		}

		.new_categories {
			background-color: #ececec;
			position: relative;
			overflow: hidden;
			height: 294px;
			padding-top: 103px;
		}

		.new_categories h2 {
			text-transform: uppercase;
			font-size: 19px;
		}

		.box1 {
		    padding-left: 21px;
		    float: left;
		    width: 25%;
		}

		.box1 p {
			height: 147px;
    		overflow: hidden;
    		margin-top: 13px;
    		line-height: 21px;
		}

		.box2 {
   			padding-left: 74px;
   			float: left;
   			width: 25%;
		}

		.box2 p {
			height: 147px;
    		overflow: hidden;
    		margin-top: 13px;
   			line-height: 21px;
		}

		.box3 {
   			padding-left: 72px;
   			float: left;
   			width: 25%;
		}

		.box3 p {
			height: 147px;
    		overflow: hidden;
    		margin-top: 13px;
    		line-height: 21px;
		}

		footer {
			position: relative;
			overflow: hidden;
			background-image: url(../img/footer1.png);
			height: 200px;
		}

		.menu_footer li {
			float: left;
			list-style-type: none;
			margin-top: 46px;
			padding-left: 14px;
		}

		.menu_footer a{
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			color: #ffffff;
		}

		span.maker {
		   	display: inline-block;
		    margin-top: 34px;
		    margin-left: 595px;
		    color: #ffffff;
		}

		.bold {
			font-weight: bold;
			padding-left: 4px;
		}
		}

/*................................................width 960px..........................................................*/

		@media (min-width: 960px) {
		body {
			width: 100%;
			margin: auto;
			min-width: 768px;
		}

		header {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url(../img/bg.jpg);
		}

		.wrupper {
			width: 960px;
			margin: auto;
		}

		.home {
			display: none;
		}

		.menu {
			margin-top: 35px;
			float: left;
    		margin-left: 147px;		
		}

		.new_categories1 {
			display: none;
		}

		.logo {
			margin-left: 20px;
			float: left;
		}

		.logoAndmenu {
			position: relative;
			overflow: hidden;
		}

		.menu li {
			list-style-type: none;
   			display: inline-block;
   			padding-left: 20px;		
		}

		.menu a {
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-weight: bold;
			font-size: 16px;
		}

		.menu a:hover {
			text-decoration: underline;
		}

		.flash1 {
			width: 100%;
			height: 396px;
			margin-top: 226px;
			background: rgba( 16, 15, 15, 0.15);
		}

		.flash {
			margin-top: -499px;
   		}

		.pointerLeft {
			float: left;
			padding-top: 286px;
			position: absolute;
    		right: 1326px;
		}

		.flash__box1 {
			float: left;
			padding-top: 195px;
		}

		.flash__box1 h1 {
			font-size: 30px;
			text-transform: capitalize;
			color: #fefefe;
			margin-left: 20px;
		}

		.flash__box1 h2 {
			font-size: 15px;
			text-transform: uppercase;
			color: #edbfff;
			height: 20px;
			overflow: hidden;
			margin-top: 20px;
			margin-left: 20px;
		}

		.flash__box1 p {
			width: 505px;
			overflow: hidden;
			margin-top: 11px;
   			line-height: 29px;
   			font-size: 19px;
   			color: #ffffff;
   			margin-left: 20px;
		}

		.iphone img{
			padding-top: 86px;
			padding-left: 110px;
		}

		.pointerRight img {
			float: right;
			margin-top: -232px;
			position: absolute;
   			left: 1326px;
		}

		.radio .radio_part {
			display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio {
			margin-left: 720px;
			margin-top: 67px;
			padding-bottom: 56px;
		}

		section {
			position: relative;
			overflow: hidden;
			background-color: #4a3454;
			height: 342px;
		}

		.aboutCompany {
			float: left;
			list-style-type: none;
			margin-top: 83px;
		}

		.aboutCompany__item {
			float: left;
			width: 32%;
		}

		.aboutCompany__item p {
			margin-left: 85px;
			float: left;
			position: relative;
			overflow: hidden;
			height: 132px;
			line-height: 22px;
			color: #ffffff;
			margin-top: 11px;
		}

		.aboutCompany__item h2 {
			margin-left: 85px;
			font-size: 18px;
			color: #ffffff;
			text-transform: uppercase;
		}

		.aboutCompany__item h2:before {
			background: url(../img/sprite.png)0 0 no-repeat;
			width:30px;
	    	height:30px;
	    	content: '';
	   	 	display: inline-block;
	   	 	position: absolute;
	   	 	margin-left: -54px;
		}

		.aboutCompany__item .chat:before  {
			background-position: -30px ;
		}

		.aboutCompany__item .music:before {
			background-position: -60px;
		}

		.aboutCompany__item a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			margin-left: 174px;
		}

		.read_more1 {
			margin-top: 35px;
		}

		.read_more1 a{
			margin-left: 138px;
		}

		.aboutCompany__item a{
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
		}

		.news_top {
			margin-left: 62px;
			width: 280px;
		}

		.news_top h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-top: 32px;
		}

		.news_top h2 span {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			color: #edbfff;
		}

		.man img {
			display: none;
		}

		.news_top p {
			color: #454545;
			line-height: 25px;
			position: relative;
			overflow: hidden;
		}

		.recentUpdates {
			float: left;
    		width: 50%;
    		margin-top: 100px;
		}

		.recentUpdates ul {
			list-style-type: none;
			margin-top: -4px;
			line-height: 19px;
			padding-left: 99px;
		}

		.recentUpdates li {
			padding-top: 29px;
		}

		.recentUpdates h2 {
			text-transform: uppercase;
			color: #454545;
			font-size: 20px;
			margin-left: 96px;
			margin-top: 29px;
		} 

		.recentUpdates a {
			text-decoration: none;
			color: #454545;
			font-weight: bold;
			margin-left: 64px; 
		}

		.recentUpdates p {
			margin-left: 68px;
			overflow: hidden;
		    width: 245px;
		    height: 22px;
		}

		.li1:before {
			content: url(../img/li1.png);
			position: absolute;
			margin-top: -1px;
		}

		.li2:before {
			content: url(../img/li2.png);
			position: absolute;
			margin-top: -5px;
		}

		.li3:before {
			content: url(../img/li3.png);
			position: absolute;
			margin-top: -13px;
		}

		.read_more a{
			color: #454545;
			margin-left: 243px;
			text-transform: uppercase;
			font-size: 12px;
			position: absolute;
			margin-top: 14px;
			font-weight: bold;
			margin-left: 353px;
		}

		.news_recentUpdates {
			position: relative;
			overflow: hidden;
			background-color: #f9f9f9;
			height: 450px;
		}

		
		.radio_one .radio_part {
			display: inline-block;
		    font-size: 25px;
		    line-height: 9px;
		    min-width: 15px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 27px;
		    padding: 5px;
		    text-align: center;
		    margin-right: 0px;
		    margin-top: 0px;
		    opacity: .75;
		    width: 11px;
		    height: 14px;
		}

		.radio_one .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio_one {
			margin-left: 184px;
			margin-top: 39px;
			padding-bottom: 56px;
		}

		.news {
			float: left;
    		width: 43%;
    		background-image: url(../img/man.jpg);
    		height: 290px;
    		margin-top: 99px;
    		margin-left: 20px;
		}

		.brands {
			padding-left: 132px;
			background-color: #f9f9f9;
			padding-top: 58px;
			padding-bottom: 27px;
		}

		.brands img {
			margin-left: 48px;
		}

		.new_categories {
			background-color: #ececec;
			position: relative;
			overflow: hidden;
			height: 372px;
			padding-top: 23px;
		}

		.new_categories h2 {
			text-transform: uppercase;
			font-size: 25px;
		}

		.box1 {
			padding-top: 77px;
		    padding-left: 21px;
		    float: left;
		    width: 25%;
		}

		.box1 p {
    		overflow: hidden;
		}

		.new_categories1_text {
			height: 110px;
		}

		.copyright {
			font-style: italic;
			color: #c9c9c9; 
			opacity: 0.5;
			margin-top: 8px;
			height: 24px;
		}

		.box1 h2 span {
			color: #b9b9b9;
			font-size: 25px;
		}

		.box2 {
			padding-top: 76px;
   			padding-left: 74px;
   			float: left;
   			width: 25%;
		}

		.box2 p {
			height: 147px;
    		overflow: hidden;
		}

		.box3 {
			padding-top: 74px;
   			padding-left: 72px;
   			float: left;
   			width: 25%;
		}

		.box3 p {
			height: 147px;
    		overflow: hidden;
		}

		footer {
			position: relative;
			overflow: hidden;
			background-image: url(../img/footer.png);
			height: 115px;
		}

		.menu_footer {
			margin-left: -21px;
		}

		.menu_footer li {
			float: left;
			list-style-type: none;
			margin-top: 46px;
			padding-left: 14px;
		}

		.menu_footer a{
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			color: #ffffff;
		}

		span.maker {
		   	position: absolute;
		    top: 52px;
		    left: 1034px;
		    color: #ffffff;
		}

		.bold {
			font-weight: bold;
			padding-left: 4px;
		}
		}

