	* {
	margin: 0;
	padding: 0;
	}

	body {
		width: 100%;
		margin: auto;
	}

	header {
		width: 100%;
		position: relative;
		overflow: hidden;
		background-image: url(../img/bg.jpg);
	}

	.logo {
		float: left;
		margin-top: 69px;
	}

	.menu {
		float: left;
		margin-top: 96px;
		margin-left: 128px;
	}

	
	.menu__item {
		float: left;
		list-style-type: none;
		margin-left: 32px;		
	}

	.mеnu__link {
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
	}

	.mеnu__link:hover {
		text-decoration: underline;
	}

	.flash {
		width: 100%;
		float: left;
		height: 396px;
		position: relative;
		/*overflow: hidden;*/
		margin-top: 166px;
		margin-bottom: 165px;
		background: rgba( 16, 15, 15, 0.50);
	}

	.pointerLeft img {
		float: left;
		margin-left: -22px;
	}

	.flash__box1 {
		float: left;
		width: 500px;
		margin-top: 87px;
		/*margin-left: 295px;*/
	}

	.flash__box1 h1 {
		font-size: 43px;
		color: #fefefe;
	}

	.flash__box1 h2 {
		font-size: 19px;
		text-transform: uppercase;
		color: #edbfff;
		margin-top: 11px;
	}

	.flash__box1 p {
		color: #a9a5ac;
		line-height: 1.5;
		font-size: 19px;
		margin-top: 4px;
	}


	.iphone img {
		float: left;
		position: relative;
		margin-left: 115px;
		top: -17px;
	}

	.pointerRight img {
		float: left;
		margin-left: 368px;
		margin-top: 182px;
	}

	section {
		position: relative;
		overflow: hidden;
		background-color: #4a3454;
		margin-top: 7px;
		height: 341px;
	}

	.aboutCompany {
		float: left;
		margin-left: -20px;
		list-style-type: none;
		margin-top: 83px;
	}

	.aboutCompany__item {
		float: left;
		width: 23%;
		margin-left: 22px;
	}
	
	.aboutCompany__item p{
		padding-left: 53px;
		margin-top: 15px;
		line-height: 24px;
		color: #ffffff;
		padding-bottom: 17px;
		margin-left: 11px;
	}

	.aboutCompany__item h2 {
		text-transform: uppercase;
		font-size: 17px;
		margin-left: 49px;
		color: #ffffff;
	}

	.aboutCompany__item h2:before {
		background: url(../img/sprite.png)0 0 no-repeat;
		width:30px;
    	height:30px;
    	content: '';
   	 	display: inline-block;
   	 	position: absolute;
   	 	margin-left: -49px;
	}

	.aboutCompany__item .chat:before  {
		background-position: -30px ;
	}

	.aboutCompany__item .music:before {
		background-position: -60px;
	}

	.aboutCompany__item a{
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		margin-left: 174px;
	}

	.aboutCompany__item a:hover {
		box-shadow: 0px 0px 15px 3px rgba(255,255,255,1);
		color: #ffffff;
	}

	.news {
		position: relative;
		overflow: hidden;
		width: 100%;
		background-color: #f9f9f9;
	}

	.news_top {
		background: url(../img/backgroundForNews.png) 0 0 no-repeat;
		float: left;
		width: 337px;
		height: 271px;
		margin-left: 62px;
		margin-top: 113px;
	}

	.man img {
		float: left;
		margin-top: 119px;
		position: absolute;
		
	}

	.news_top h2 {
		text-transform: uppercase;
		color: #454545;
		font-size: 20px;
		width: 427px;
		margin-top: 16px;
	}

	.news_top h2 span {
		text-transform: uppercase;
		color: #454545;
		font-size: 20px;
		color: #edbfff;
	}

	.news_top p {
		font-size: 16px;
		color: #454545;
		margin-top: 17px;
		line-height: 24px;
	}

	.recentUpdates {
		float: left;
		position: relative;
		margin-top: 128px;
		margin-left: 75px;
	}

	.recentUpdates ul {
		list-style-type: none;
		margin-top: 1px;
		line-height: 24px;
		margin-left: 39px;
	}

	.recentUpdates li {
		padding-top: 24px;
	}

	.recentUpdates h2 {
		text-transform: uppercase;
		color: #454545;
		font-size: 20px;
		margin-left: 35px;
	} 

	.recentUpdates a {
		text-decoration: none;
		color: #454545;
		margin-left: 64px; 
	}

	.recentUpdates p {
		margin-left: 65px;

	}

	.li1:before {
		content: url(../img/li1.png);
		position: absolute;
		margin-top: -1px;
	}

	.li2:before {
		content: url(../img/li2.png);
		position: absolute;
		margin-top: -5px;
	}

	.li3:before {
		content: url(../img/li3.png);
		position: absolute;
		margin-top: -13px;
	}

	.read_more a{
		color: #454545;
		margin-left: 267px;
		text-transform: uppercase;
		font-size: 12px;
		position: absolute;
		margin-top: 14px;
		font-weight: bold;
	}

	.brands {
		display: inline-block;
	}

	/*.brands img{
		margin-top: 102px;
		width: 100%;
	}*/

	.comments {
		position: relative;
		overflow: hidden;
		background: #ececec;
		width: 100%;
		height: 302px;
		margin-top: 162px;
		padding-top: 100px;
	}

	.box1 {
		float: left;
		width: 277px;
	}

	.box1 h2 {
		text-transform: uppercase;
		font-size: 20px;
		color: #454545;
	}

	.copyright {
		font-style: italic;
		color: #c9c9c9; 
		opacity: 0.5;
		margin-top: 8px;
	}

	.box1 h2 span {
		color: #b9b9b9;
		font-size: 20px;
	}

	.box2 {
		float: left;
		width: 277px;
		padding-left: 63px;
	}

	.box2 h2 {
		color: #454545;
		text-transform: uppercase;
		font-size: 20px;
	}

	.box1 p {
		color: #787878;
		line-height: 29px;
    	font-size: 18px;
    	margin-top: 14px;
	}

	.box2 p {
		color: #787878;
		margin-top: 10px;
		line-height: 29px;
    	font-size: 18px;
    	margin-top: 14px;
	}

	.box3 p {
		color: #787878;
		margin-top: 10px;
		line-height: 29px;
    	font-size: 18px;
    	margin-top: 14px;
	}

	.box3 {
		float: left;
		width: 277px;
		padding-left: 63px;
	}

	.box3 h2{
		color: #454545;
		text-transform: uppercase;
		font-size: 20px;
	}

	footer {
		position: relative;
		overflow: hidden;
		background-image: url(../img/footer.png);
		height: 112px;
	}

	

	.menu_footer li {
		float: left;
		list-style-type: none;
		margin-top: 46px;
		padding-left: 18px;
	}

	.menu_footer a{
		text-transform: uppercase;
		text-decoration: none;
		font-size: 14px;
		color: #ffffff;
	}

	.maker {
		padding-left: 296px;
		position: absolute;
		margin-top: 46px;
		color: #ffffff;
	}

	.bold {
		font-weight: bold;
		padding-left: 4px;
	}

	




	@media screen and (max-width: 768px) and (min-width: 480px) {
		.wrupper {
			min-width: 768px;
			max-width: 960px;
			width: 768px;
			margin: auto;
		}

		.menu {
			margin-left: -33px;
			margin-top: 33px;
		}

		.flash {
			margin-top: 82px;
		}

		.flash__box1 {
			margin-left: 22px;
			width: 289px;
		}

		.flash__box1 h1 {
    		font-size: 33px;
		}

		.flash__box1 h2 {
			font-size: 11px;
			margin-top: 32px;
		}

		.flash__box1 p {
			line-height: normal;
			font-size: 16px;
			margin-top: 19px;
		}

		.iphone img {
			margin-left: 116px;
			top: -24px;
		}

		.pointerRight img {
			margin-left: 24px;
		}

		section {
			margin-top: -9px;
		}

		.aboutCompany__item {
			width: 23%;
			margin-left: 76px;
				}

		.aboutCompany__item h2 {
			font-size: 13px;
			margin-left: 2px;
			line-height: 19px;
		}

		.aboutCompany__item a {
			font-size: 12px;
			margin-left: 129px;
		}

		.aboutCompany__item p {
			padding-bottom: 10px;
		}

		.man img {
			margin-top: 121px;
		}

		.news_top {
			width: 275px;
			height: 223px;
		}

		.news_top h2 {
			width: 214px;
		}

		.news_top p {
			margin-top: 0px;
			line-height: 17px;
		}

		.recentUpdates {
			margin-top: 132px;
			margin-left: 22px;
		}

		.recentUpdates ul {
			width: 321px;
			line-height: 16px;
			margin-left: 36px;
		}

		.box1 {
			display: none;
		}

		.box2 {
			display: none;
		}

		.box3 {
			width: 216px;
		}

		.maker {
			padding-left: 71px;
			margin-top: 97px;
		}
	}

		@media screen and (max-width: 480px) and (min-width: 320px) {
		.wrupper {
			min-width: 480px;
			max-width: 320px;
			width: 480px;
			margin: auto;
		}

		.menu {
			width: 243px;
			margin-left: 112px;
			background: rgba( 63, 50, 71, 0.65);
			margin-top: 17px;
			height: 258px;
			border-radius: 7px;
		}

		.menu__item {
			float: none;
			margin-left: 0;
			text-align: center;
			padding: 10px;
			border-bottom: 2px solid #523e5a;
		}

		.menu__item:hover {
			background: rgba( 43, 34, 49, 0.65);
			border-bottom: 2px solid #edbfff;
		}

		.logo {
			float: none;
			text-align: center;
		}

		.flash {
			height: 244px;
			margin-top: -185px;
		}

		.flash__box1 {
			margin-top: 97px;
		}

		.flash__box1 p {
			display: none;
			margin-top: 4px;
			margin-left: 15px;
		}

		.pointerLeft img {
			margin-left: -7px;
			margin-top: 104px;
		}

		.flash__box1 h1 {
			font-size: 23px;
		}

		.flash__box1 h2 {
			font-size: 12px;
		}

		.iphone img {
			margin-left: 255px;
			top: -188px;
			height: 303px;
			width: 186px;
		}

		.pointerRight img {
			margin-left: 9px;
    		margin-top: -79px;
		}

		.aboutCompany {

		}

		.aboutCompany__item {
			width: 100%;
			margin: 9px;
		}

		section {
			height: auto;
		}

		.aboutCompany__item p {
			margin-left: -52px;
		}

		.comments {
			float: left;
		}
		

	
	