	* {
	margin: 0;
	padding: 0;
	}

	body {
		width: 700px;
		margin: auto;
	}

	.header {
		background-color: #4e4d4d;
		padding: 7px;
	}

	.hr a {
		text-decoration: none;
		width: 100px;
		color: #ffffff;
		padding: 20px;
	}

	.hr li {
		display: inline;
		margin-right: 5px;
		padding: 7px;
	}

	.button {
		background-color: #454545;
		padding: 0;
		border-right: 2px solid #838383;
		border-left: 2px solid #838383;
	}

	.sider {
		margin-top: 40px;
		margin-right: 500px;
		list-style-type: none;
		
			}

	table {
		border: 1px solid black;
		border-collapse: collapse;
		width: 200px;
		text-align: left;
		float: left;
	}

	th {
		border: 1px solid #c8c8c8;
		padding-left: 5px;
		text-decoration: none;
		padding: 10px;

	}

	th a {
		text-decoration: none;
		color: #656363;

	}

	.telephone a{
		padding-left: 25px;
		color: #2c2c2c;

	}

	img {
		float: right;
		width: 480px;
	}

	p {
		display: inline-block;
		padding-left: 240px;
		padding-top: 20px;	
	}

	.footer {
	background-color: #e1e1e1;
	padding: 10px;
	margin-top: 40px;
	}

	.footer a {
		color: #2c2c2c;
		text-decoration: none;
	}

	.footer li {
		display: inline;
		text-decoration: none;
		padding: 10px;
	}

	.left a{
		padding-left: 160px;
		
	}


	
