	* {
		margin: 0;
		padding: 0;
	}

	body {
    	margin: auto;
    	width: 1100px;
		background-image: url(../img/background.jpg);
	}

	header {
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
	}
	.logo {
		float: left;
		width: 75%;
	}

	.logo a {
		padding-left: 20px;
	}

	.contacts {
		float: right;
		width: 15%;
		padding-top: 10px;
	}

	.countries {
		clear: both;
	}
	
	.countries li {
		float: right;
		list-style-type: none;
		margin: 7px;
		text-align: center;
	}

	.countries li a {
		color: #128aa7;
	}

	.avatar {
		width: 100%;
	}

	.nav {
		float: left;
		width: 100%;
		list-style: none;
		margin-bottom: 10px;
		margin-top: -3px;
		background: #353535;
	}

	.nav li {
		float: left;
		position: relative;
		display: block;
		padding-right: 60px;
	}

	.nav li a {
		display: block;
		color:#fff;
		background: #333;
		text-decoration:none;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.main {
		padding-left: 75px;
		padding-right: 50px;
	}

	.trip a {
		padding-right: 50px;
		padding-left: 15px;
	}

	.link1 a{
		border-top:2px solid black;
		padding-top:1px;
	}

	.nav li a:hover {
		color:#fff;
	}

	.nav ul {
		list-style:none;
		position:absolute;
		left:-9999px;
		opacity:0;
	}

	.nav ul li {
		float:none;
	}

	.nav ul a {
		white-space:nowrap;
		display:block;
	}

	.nav li:hover ul {
		left:0;
		opacity:1;
	}

	.nav li:hover a {
		/*background:#6b0c36;*/
	}

	.nav li:hover ul {
		text-decoration:none;
	}

	.nav li:hover ul li a:hover {
		background:#333;
		padding-right: 10px;
	}

	.triangle img {
		width: 7px;
		height: 8px;
		padding-left: 7px;
	}

	.information {
		float: left;
		width: 20%;
		margin-top: -9px;
		padding-top: 10px;
		border-right: 2px solid #c7cacf;
		text-align: center;
		background-color: #edeef0;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}


	.news {
		float: right;
		width: 20%;
		text-align: center;
		margin-top: -9px;
		padding-top: 10px;
		border-left: 2px solid #c7cacf;
		background-color: #edeef0;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}

	/*.content:after {*/
	/*	content: ".";*/
	/*	display: block;*/
	/*	height: 0;*/
	/*	visibility: hidden;*/
	/*	clear: both;*/
	/*}*/

	.content {
		background-color: #ffffff;
		border-bottom: 3px solid #031d28;
		width: 100%;
		overflow: hidden;
		margin-top: -5px;
	}

	h2 {
		text-align: center;
	}

	footer {
		text-align: center;
	}
