  body{
  	width: 554px; 
    padding: 5px; 
    margin: auto;    

}
  
}
  div{
  	height: 600px;
  	width: 846px;

}

  .avatar{
	height: 149px;
	width: 203px;
	display: block; margin: 0 auto;
}
  h1{
  	text-align: center;
}


 

 

 


	
 

