  body{
  width: 600px; 
  height: 846px;
  padding: 5px; 
  margin: auto; 
  background-color: gray;   
}

  div{
  background-color: white;
  padding: 10px;
}

  .avatar{
  height: 149px;
  width: 203px;
  display: block; margin: 0 auto;
}

  h1{
  	text-align: center;
}

  


 

 

 


	
 

