	* {
	margin: 0;
	padding: 0;
	}

	body {
		width: 908px;
		margin: auto;
		background: #DCDCDC;
	}
	
	.wrapper {
		background: #ffffff;
		padding: 2px 20px 2px 20px;
	}

	header {
		background: #ffffff;
		position: relative;
		overflow: hidden;
	}

	.telefone {
		float: left;
		width: 26%;
		color: #5e696d;
		font-size: 12px;
	}

	form {
		float: left;
		width: 67%
	}

	.action1 {
		background: #0d365a;
		border-radius: 2px;
		color: #d3d9de;
		padding-bottom: 2px;
	}

	.login input {
		padding-left: 2px;
		border-radius: 2px;
	}

	.password input {
		border-radius: 2px;
		padding-left: 2px;
	}

	.in {
		border-right: 2px solid #d3d9de;
		padding-right: 1px;
	}

	.forgotParol {
		text-decoration: underline;
	}

	.post {
		float: left;
		padding-left: 2px;
	}

	.avatar img {
		width: 100%;
		margin-top: 5px;
	}

	nav {
		position: relative;
		overflow: hidden;
		background: #17191b;
		margin-top: 9px;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.menu {
		padding-left: 40px;
	}

	.menu li {
		float: left;
		list-style-type: none;
		padding-left: 5px;
	}

	.menu a {
		color: #a2acb0;
		text-decoration: none;
	}

	.menu li a:hover {
		background-color: #164e70;
		border-radius: 7px;
		padding: 5px 2px 5px 2px;
	}

	.koshyk {
		float: right;
		color: #a2acb0;
	}

	.koshyk span {
		padding-right: 5px;
	}

	.content {
		width: 100%;
		/*position: relative;*/
		overflow: hidden;
		margin-top: 100px;
	}

	.leftColumn {
		float: left;
		width: 20%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}
	
	.catalog {
		width: 181px;
		border: 1px solid #79878d;
		border-radius: 2px;
	}

	.catalog span {
		text-transform: uppercase;
		font-size: 13px;
	}

	.sircle {
		width: 148px;
		border: 1px solid #79878d;
		border-radius: 3px;
	}
	
	.sircle img {
		padding-left: 2px;
	}
	
	.sircle h4 {
		padding-bottom: 2px;
	}

	.centrumColumn {
		float: left;
		width: 58%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
		background-image: url(../img/background.jpg);
	}

	figure {
		display: block;
		float: left;
		text-align: center;
	}

	.rightColumn {
		float: left;
		width: 22%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}

	.brands {
		width: 181px;
		border: 1px solid #79878d;
		border-radius: 2px;
	}

	.BrandsLogo {
		text-align: center;
	}

	footer {
		width: 906px;
		position: relative;
		overflow: hidden;
		background: #213a4d;
		height: 70px;
	}

	.submit {
		background-color: #0e3a5e;
		color: #e5e9ea; 
	}

	footer {
		position: relative;
		overflow: hidden;
	}
	
	.menuBottom{
		float: left;
		width: 100%;
	}

	.menuBottom li {
		float: left;
		list-style-type: none;
		/*position: relative;*/
		left: 30%;
	}
	
	.copyright {
		float: left;
	}
	
	





	/*.content {
		position: relative;
		overflow: hidden;
	}*/

	/*.findPoAvto {
		float: left;
		position: relative;
		width: 45%;
		color: #154467;
		text-align: center;
	}

	.disks {
		float: left;
		width: 50%;
		text-align: left;
	}
	
	.CarBrand, .ModelCar, .complement {
		width: 85px;
	}

	.disks p {
		font-size: 6px;
	}

	.YearMade {
		width: 57px;
	}

	.tire {
		float: right;
		width: 50%;
	}

	.tire p {
		font-size: 6px;
	}

	.SearchTires {
		float: left;
		width: 20%;
		position: relative;

	}
*/
