	* {
	margin: 0;
	padding: 0;
	}

@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('fonts/362076-webfont.eot');
    src: url('fonts/362076-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/362076-webfont.woff2') format('woff2'),
         url('fonts/362076-webfont.woff') format('woff'),
         url('fonts/362076-webfont.ttf') format('truetype'),
         url('fonts/362076-webfont.svg#lucida_sans_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


	body {
		width: 1005px;
		margin: auto;
		background: #DCDCDC;
	}
	
	.wrapper {
		background: #ffffff;
		padding: 2px 20px 2px 20px;
	}

	header {
		background: #ffffff;
		position: relative;
		overflow: hidden;
		margin-top: 15px;
		padding-left: 36px;
	}

	.telefone {
		float: left;
		width: 33%;
		padding-top: 4px;
	}

	.telnumber {
		padding-left: 4px;
	}

	.number {
		color: #5e696d;
	}


	form {
		float: left;
		width: 495px;
		height: 20px;
	}

	.action1 {
		background: #0d365a;
		border-radius: 2px;
		color: #d3d9de;
		padding-bottom: 6px;
	}

	.action1 img {
		padding-left: 6px;
		padding-top: 5px;
	}

	.action1 input {
		padding-top: 4px;
		margin-bottom: 16px;
		height: 24px;
		vertical-align: middle;
		font-size: 12px;
		padding-left: 3px;
	}

	.login input {
		padding-left: 3px;
		padding-bottom: 5px;
		border-radius: 5px;
		width: 109px;
		height: 4px;
		font-size: 11px;
		vertical-align: middle;
	}

	.password input {
		padding-left: 3px;
		padding-bottom: 5px;
		border-radius: 5px;
		width: 109px;
		height: 4px;
		font-size: 11px;
		vertical-align: middle;
	}

	.in {
		padding-right: 1px;
		background-color: #0d365a;
		border: none;
		color: #ffffff;
	}

	.post img {

	}

	.verticalLine img {
		padding-top: 2px;
		padding-bottom: 4px;
	}

	.registry {
		background-color: #0d365a;
		border: none;
		color: #ffffff;
	}

	.forgotParol input {
		text-decoration: underline;
		background-color: #0d365a;
		border: none;
		color: #ffffff;
		padding-left: 4px;
	}

	.post {
		float: right;
		padding-left: 2px;
	}
	

	.avatar img {
		width: 909px;
		margin-top: 7px;
		height: 237px;
		padding-left: 29px;
	}

	nav {
		position: relative;
		overflow: hidden;
		background: #17191b;
		margin-top: 3px;
		border-radius: 6px;
		/*padding-top: 9px;
		padding-bottom: 3px;*/
		width: 912px;
		margin-left: 28px;
	}

	.menu {
		padding-left: 112px;
		font-size: 14px;
	}

	.menu li {
		float: left;
		list-style-type: none;
		padding-left: 35px;
		padding-top: 9px;
		padding-bottom: 9px;
	}

	.menu a {
		color: #a2acb0;
		text-decoration: none;
	}

	.menu li a:hover {
		background-color: #164e70;
		border-radius: 7px;
		width: 123px;
		padding-left: 20px;
		padding-right: 18px;
		padding-bottom: 4px;
		padding-top: 4px;
		border-radius: 25px;
	}

	.koshyk {
		float: right;
		color: #a2acb0;
		padding-right: 77px;
	}

	.basket img{
		padding-right: 19px;
		padding-top: 7px;
	}

	.amount img {
    		padding-bottom: 3px;
	}

	.content {
		width: 100%;
		/*position: relative;*/
		overflow: hidden;
		margin-top: 161px;
		margin-left: 28px;
	}

	.leftColumn {
		float: left;
		width: 20%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}
	
	.catalog {
		padding-top: 3px;
	}

	.tires {
		padding-top: 6px;
    	padding-left: 1px;
	}

	.titesLeft img{
		padding-left: 1px;
	}

	.menuCatalog li {
		/*list-style-image: url(../img/shape.png);*/
		list-style-type: circle;
		margin-left: 50px;
		font-family: "lucida_sans_unicoderegular";
		padding-top: 6px;
	}
	
	.menuCatalog li a {
		text-decoration: none;
		color: #465961;
	}

	.menuCatalog li a:hover {
		font-weight: bold;
		font-style: italic;
		text-decoration: underline;
		color: #0c3256;
	}
	
	.leftDisk img{

	}

	.centrumColumn {
		float: left;
		width: 528px;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
		background-image: url(../img/background.jpg);
	}


	figure {
		display: block;
		float: left;
		text-align: center;
		margin-top: 13px;
		margin-left: 26px;
	}
	
	figure img {
		border-radius: 10px;	
	}

	.rightColumn {
		float: left;
		width: 22%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}

	.brands img {
		margin-left: 4px;
	}

	.rightTires {
		margin-left: 21px;
		margin-top: 11px;
	}
	
	.checkbox1 {
    	padding-left: 32px;
    	padding-top: 4px;
    	font-size: 14px;
	}

	.checkbox2 {
		margin-left: 32px;
   		margin-top: 3px;
	}

	.checkbox1 span {

	}

	.chackBrand {
		margin-right: 2px;
	}


	.rightDisk img {
		margin-left: 20px;
		margin-top: 26px;
	}

	.submit {
		margin-left: 30px;
    	margin-top: 31px;
    	width: 81px;
    	height: 28px;
    	border-radius: 23px;
    	border: none;
	}

	.BrandsLogo {
		text-align: center;
		margin-top: 40px;
	}

	footer {
		width: 906px;
		position: relative;
		overflow: hidden;
		background: #213a4d;
		height: 70px;
	}

	.submit {
		background-color: #0e3a5e;
		color: #e5e9ea; 
	}

	footer {
		position: relative;
		overflow: hidden;
		width: 912px;
	}
	
	.menuBottom{
		float: left;
		width: 100%;
	}

	.menuBottom li {
		float: left;
		list-style-type: none;
		/*position: relative;*/
		left: 30%;
	}
	
	.copyright {
		float: left;
	}
	
	





	/*.content {
		position: relative;
		overflow: hidden;
	}*/

	/*.findPoAvto {
		float: left;
		position: relative;
		width: 45%;
		color: #154467;
		text-align: center;
	}

	.disks {
		float: left;
		width: 50%;
		text-align: left;
	}
	
	.CarBrand, .ModelCar, .complement {
		width: 85px;
	}

	.disks p {
		font-size: 6px;
	}

	.YearMade {
		width: 57px;
	}

	.tire {
		float: right;
		width: 50%;
	}

	.tire p {
		font-size: 6px;
	}

	.SearchTires {
		float: left;
		width: 20%;
		position: relative;

	}
*/
