	* {
	margin: 0;
	padding: 0;
	}

	@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneue-thin1-webfont.eot');
    src: url('fonts/helveticaneue-thin1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin1-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin1-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

	body {
		width: 1200px;
		margin: auto;
	}


	.menu {
		float: right;
		width: 100%;
		margin-bottom: 5px;
		margin-top: 5px;
		background-image: url(../img/for_menu.jpg);
		height: 31px;
	}

	.menu li {
		float: right;
		list-style: none;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-right: 12px;
		padding-left: 12px;
		margin-right: 12px;
	}

	.menu li a {
		text-decoration: none;
		color: #5aaee6;
		font-family: 'Helvetica Neue';
	}

	.menu li a:hover {
		background: #4eabda;
		color: #ffffff;
		padding: 7px 12px 7px 12px;
	}

	/*.menu li a:hover {
		color: #ffffff;
	}*/

	.flag img{
		width: 18px;
		height: 15px;
		padding-right: 9px;
	}
	
	.Minhas {
		border: none;
		border-left: 2px solid #4eabda;
	}
	.Minhas span {
		color: #ffffff;
	}
	
	.ola {
		background: linear-gradient(to top, #2e7ac4, #4faedb);
		}

	.ola span {
		text-decoration: underline;
	}

	.wrapper img {
		width: 100%;
		margin-top: -5px;
		position: relative;
	}


	form {
		position: absolute;
		left: 30%;
		top: 15%;
		width: 560px;
		height: 573px;
		background: rgba( 16, 15, 15, 0.65);
	}

	form p {
		text-align: center;
		line-height: 60px;
		color: #ffffff;
		font-size: 24px;
	}

	.facebook img {
		text-align: center;
		margin-top: 40px;
		width: 278px;
		height: 33px;
		border-radius: 7px;
		margin-left: 139px;
	}

	.line img {
		width: 278px;
		margin-left: 139px;
		margin-top: 20px;
	}
		

	.form li {
		text-align: center;
		margin-top: 5px;
		list-style-type: none;
	}

	li input {
		width: 258px;
		height: 33px;
		margin-top: 10px;
		background-color: #0e0e0e;
		border: none;
		border-bottom: 3px solid #484847;
		padding-left: 20px;
	}

	li input:hover {
		background: #1b5288;
		box-shadow: 0px 0px 13px 6px rgba(75,135,177,1);
	}

	.checkbox {
		padding-left: 141px;
		padding-top: 10px;
	}

	.checkbox span {
		color: #cccccc;
		font-family: 'Helvetica Neue', Arial, Tahoma;
		font-size: 14px;
	}

	.submit input{
		width: 150px;
		height: 33px;
		border-radius: 3px;
		margin-top: 10px;
		margin-left: 205px;
		background: linear-gradient(to top, #2e7ac4, #4eabda);
		border: none;
		color: #ffffff;
	}

	 .Privacy_Policy {
		width: 365px;
		line-height: 25px;
		margin-left: 98px;
		margin-top: 10px;
		color: #cccccc;
		font-size: 12px;
		font-family: 'Helvetica Neue', Arial, Tahoma;
	}
	





	


