	* {
	margin: 0;
	padding: 0;
	}

	@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneue-thin1-webfont.eot');
    src: url('fonts/helveticaneue-thin1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin1-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin1-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

	body {
		width: 100%;
		margin: auto;
	}


	.menu {
		float: right;
		width: 100%;
		background: #085596;
		/*background-image: url(../img/for_menu.jpg);*/
		height: 28px;
	}

	.menu ul {
		list-style: none;
		margin-right: 12px;
		font-size: 14px;
	}

	.menu a {
		float: right;
		text-decoration: none;
		color: #5aaee6;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		font-family: 'Helvetica Neue';
	}

	.flag img {
		width: 11px;
    	margin-right: 6px;
	}

    .Minhas a{
		border: none;
		border-left: 2px solid #4eabda;
		color: #ffffff;
	}

	.ola a{
		background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,46,122,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,46,122,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,46,122,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,46,122,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,46,122,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,46,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#202e7a', GradientType=0 );
		color: #ffffff;
	}

	.ola span {
		text-decoration: underline;
	}

	.menu a:hover {
		background: #4eabda;
		color: #ffffff;
	}


	.wrapper img {
		width: 100%;
		margin-top: -5px;
	}


	form {
		position: absolute;
		left: 320px;
		right: 320px;
		top: 228px;
		margin: auto;
		width: 560px;
		height: 573px;
		background: rgba( 16, 15, 15, 0.65);
	}

	legend {
		line-height: 60px;
		color: #ffffff;
		font-size: 24px;
		margin-left: 223px;
	}

	.line1 {
		border: 2px solid #c5ceb9;
		width: 560px;
	}

	.facebook img {
		text-align: center;
		margin-top: 40px;
		width: 278px;
		height: 33px;
		border-radius: 7px;
		margin-left: 139px;
	}

	.line {
		display: inline-block;
		margin-left: 139px;
	}

	.line_left {
		float: left;
		width: 125px;
		border-top: 1px solid #666666;
		border-bottom: 1px solid #000000;
	}

	.text {
		float: left;
		color: #999999;
		position: absolute;
		margin-top: -7px;
    	margin-left: 129px
	}

	.line_right {
		float: left;
		width: 125px;
		border-top: 1px solid #666666;
		border-bottom: 1px solid #000000;
		margin-left: 28px;
	}


	/*.line img {
		width: 278px;
		margin-left: 139px;
		margin-top: 20px;
	}*/
		

	.form li {
		text-align: center;
		margin-top: 5px;
		list-style-type: none;
	}

	li input {
		width: 258px;
		height: 33px;
		margin-top: 10px;
		background-color: #0e0e0e;
		border: none;
		border-bottom: 3px solid #484847;
		padding-left: 20px;
	}

	li input:hover {
		background: #1b5288;
		box-shadow: 0px 0px 13px 6px rgba(75,135,177,1);
	}
	
	input {
		color: #ffffff;
	}
 
 	.colortext {
 		color: #ffffff;	
 	}

	input: focus:-webkit-input-placeholder {color:#fffcfc;}
	input: focus::-moz-placeholder          {color:#fffcfc;}
	input: focus:-moz-placeholder           {color:#fffcfc;}
	input: focus:-ms-input-placeholder      {color:#fffcfc;}
	

	.checkbox {
		padding-left: 141px;
		padding-top: 10px;
	}

	.checkbox span {
		color: #cccccc;
		font-family: 'Helvetica Neue', Arial, Tahoma;
		font-size: 14px;
	}

	.submit input{
		width: 150px;
		height: 33px;
		border-radius: 3px;
		margin-top: 10px;
		margin-left: 205px;
		border: none;
		color: #ffffff;
		background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(46,122,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(46,122,196,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(46,122,196,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(46,122,196,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(46,122,196,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(46,122,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#2e7ac4', GradientType=0 );
	}

	 .Privacy_Policy {
		width: 365px;
		line-height: 25px;
		margin-left: 98px;
		margin-top: 10px;
		color: #cccccc;
		font-size: 12px;
		text-align: center;
		font-family: 'Helvetica Neue', Arial, Tahoma;
	}
	





	


