td {
  border: 1px solid #000;
}

.red {
  border-bottom: none;
  border-top: none;
}

.red1 {
  border-bottom: none;
  }

.red2 {
   border-top: none;
}

.yellow_centre {
  border-bottom: none;
  border-top: none;
}

.yellow_centre1 {
  border-bottom: none;
}

.yellow_centre2 {
  border-top: none;
}

.white_top1 {
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.white_top2 {
  border-top: none;
  border-left: none;
}

.white_top2 {
  border-bottom: none;
  border-top: none;
}

.white_top4 {
  border-top: none;
}

.yellow_top1 {
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.yellow_top2 {
  border-top: none;
  border-right: none;
}

.white_left {
  border-left: none;
}

.yellow_centre1, .yellow_centre, .yellow_centre2 {
  border-right: none;
}

.white_right {
  border-right: none;
}

.white_right1 {
   border-bottom: none;
   border-right: none;
}

.white_right2 {
  border-right: none;
  border-top: none;
}

