	* {
	margin: 0;
	padding: 0;
	}


	body {
		width: 100%;
		margin: auto;
	}

	header {
		background-image: url(../img/bg.jpg);
	}

	.wrupper {
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: auto;
	}

	.logo {
		text-align: center;
	}

	.home {
		margin-top: 39px;
		text-align: center;
	}


	.home a {
		text-transform: uppercase;
		color: #ffffff;
	}

	.menu {
		text-align: center;
	}

	.flash {
		position: relative;
		overflow: hidden;
		margin-top: 122px;
	}

	.pointerLeft {
		float: left;
		width: 7%;
	}

	.flash__box1 {
		float: left;
		width:79%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.flash__box1 h1{
		color: #fefefe;
		text-transform: capitalize;
		font-size: 29px;
	}

	.flash__box1 h2 {
		text-transform: uppercase;
		color: #edbfff;
		font-size: 6px;
	}

	.pointerRight {
		float: left;
		width: 7%;
	}

	section {
		position: relative;
		overflow: hidden;
		background-color: #4a3454;
	}
/*
	.aboutCompany__item {
		float: left;
	}*/

	.aboutCompany__item h2:before {
		background: url(../img/sprite.png)0 0 no-repeat;
		width:30px;
    	height:30px;
    	content: '';
   	 	display: inline-block;
	}

	.wrupper .aboutCompany {
		margin-top: 69px;
	}

	.aboutCompany__item p{
		padding-left: 28px;
	}

	.wrupper .news {
		margin-top: 95px;
	}

	.content {
		background-color: #f9f9f9;
	}

	.news {
		position: relative;
		overflow: hidden;
		float: left;
	}

	.news img {
		float: left;
	}

	.news_top {
		/*float: left;
		width: 54%;*/
		background: url(../img/backgroundForNews.png) 0 0 no-repeat;
	}

	.recentUpdates {
		float: left;
		position: relative;
		margin-top: 43px;
		width: 100%;
	}

	.recentUpdates ul {
		list-style-type: none;
		margin-top: -10px;
	}

	.recentUpdates ul {
		list-style-type: none;
		margin-top: -10px;
	}

	.recentUpdates li {
		padding-top: 24px;
	}

	.recentUpdates h2 {
		text-transform: uppercase;
		color: #454545;
		font-size: 20px;
	} 

	.recentUpdates a {
		text-decoration: none;
		color: #454545;
		margin-left: 78px; 
	}

	.recentUpdates p {
		margin-left: 78px;

	}

	.li1:before {
		content: url(../img/li1.png);
		position: absolute;
	}

	.li2:before {
		content: url(../img/li2.png);
		position: absolute;
	}

	.li3:before {
		content: url(../img/li3.png);
		position: absolute;
	}

	.more_blog a{
		padding-left: 59px;
	}

	.line {
		border-top: 1px solid #e6e6e6;
	}

	.brands img{
		/*float: left;*/
	}

	footer {
		position: relative;
		overflow: hidden;
		background-image: url(../img/footer.png);
		height: 112px;
		text-align: center;
	}

	.maker {
		margin-top: 46px;
		color: #ffffff;
		
	}

	.bold {
		font-weight: bold;
		padding-left: 4px;
	}

	@media screen and (min-width: 320px) and (max-width: 480){
		.menu {
			display: none;
		}
	}

	/* @media (max-width: 768px) {
		.home {
			display: none;
		}

		.menu {
			position: relative;
			overflow: hidden;
		}

		.menu__item {
			float: left;
		}
	}*/