		* {
			margin: 0;
			padding: 0;
		}

/*..........................................................width 320px.................................................*/

		@media screen and (max-width: 480px) and (min-width: 320px) {
		body {
			width: 100%;
			margin: auto;
		}

		.wrupper {
			min-width: 320px;
			max-width: 480px;
			margin: auto;
		}

		header {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-image: url(../img/bg.jpg);
		}

		.logo {
			margin-left: 84px;
		}

		.home a{
			text-transform: uppercase;
			font-size: 18px;
			text-decoration: none;
			color: #ffffff;
			font-weight: bold;
		}

		.home {
			margin-left: 143px;
			margin-top: 41px;
		}

		.underline {
			width: 47px;
			border: 2px solid #edbfff;
			margin-left: 137px;
			margin-top: 8px;
		}

		.flash {
			position: relative;
			overflow: hidden;
			margin-top: 124px;
		}

		.pointerLeft {
			float: left;
		}

		.flash__box1 {
			float: left;
			margin-left: 45px;
			margin-right: 30px;
		}

		.flash__box1 h1 {
			font-size: 20px;
			text-transform: capitalize;
			color: #fefefe;
			
		}

		.flash__box1 h2 {
			font-size: 14px;
			text-transform: uppercase;
			color: #edbfff;
		}

		.pointerRight {
			float: left;
		}

		.radio .radio_part{
		    text-decoration: none;
		    display: inline-block;
		    font-size: 11px;
		    line-height: 14px;
		    min-width: 14px;
		    background: rgba(0, 0, 0, 0.75);
		    color: #3b3942;
		    border-radius: 14px;
		    padding: 3px;
		    text-align: center;
		    margin-right: 1px;
		    margin-top: 0px;
		    opacity: .75;
		    padding-top: 5px 5px 5px 5px;
		    width: 11px;
		    height: 14px;
		}

		.radio .radio_part .active{
		    background: #4E443C;
		    color: #fff;
		    opacity: 1;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
		} 

		.radio {
			margin-left: 123px;
			/*padding-top: 82px;*/
		}
	}